[General]
Backend = "gist"
Cmd = []
Color = true
Column = 50
Editor = "nvim"
Format = "[$description] >> $command"
SelectCmd = "fzf --ansi --highlight-line --layout=reverse --border --height=90% --pointer=* --cycle --prompt=Snippets:"
SnippetDirs = []
SnippetFile = "/var/tmp/pet/snippet.toml"
SortBy = "recency"

[Gist]
file_name = "pet.toml"
access_token = "{{ PAT }}"
gist_id = "307fa561001fb7f5d235ca1ab4839191"
public = true
auto_sync = false
